<pjaxr-head>
    <title>{% block title %}{% block inner_title %}{% endblock inner_title %}{% endblock title %}</title>
    {% block inner_head %}{% endblock inner_head %}
</pjaxr-head>
<pjaxr-body>
    {% block site %}
        {% block page %}
            {% block content %}
                {% block inner_content %}{% endblock inner_content %}
            {% endblock content %}
        {% endblock page %}
    {% endblock site %}
    {% block additional_pjax_includes %}{% endblock additional_pjax_includes %}
</pjaxr-body>
<pjaxr-namespace>{% block pjaxr_namespace %}{% endblock pjaxr_namespace %}</pjaxr-namespace>